<!DOCTYPE html>
<html>
<head th:replace="snippets.html :: name_head"></head>
<body>

  <nav th:replace="snippets.html :: name_app_navbar"></nav>
  
  <br>
  <div class="container">
<h4>Brand Report</h4>
    <br>

<div class="row">
 <div class="col-12">
  <table class="table table-striped" id="inventoryreport-table">
    <thead>
      <tr>        
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td>cate</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/brandreport.js}"/></script>

</body>
</html>

